body {
    text-align: center;
    margin: 0;
    display: grid;
    min-height: 100vh;
    grid-template-rows: 15fr 15fr 55fr 15fr;
    grid-template-columns: 15fr 70fr 15fr;
    grid-template-areas: "header    header   header"
                         "timerDiv  r2c2  scoreDiv"
                         "main   main  main"
                         "backDiv      r4c2  nextDiv";
}

header {
    grid-area: header;
    font-size: 3rem;
}

#timerDiv {
    grid-area: timerDiv;
}

main {
    grid-area: main;
}

#scoreDiv {
    grid-area: scoreDiv;
}

#backDiv {
    grid-area: backDiv;
}

#nextDiv {
    grid-area: nextDiv;
}

#r2c2 {
    grid-area: r2c2;
}

#r4c2 {
    grid-area: r4c2;
}

